body {
  font-family: sans-serif;
  background: white; /* whitesmoke ? */
  font-size: 1.75em;
}

a:hover {
  color: #7EC0DE;
}

.MainTitle {
  margin-top: 50px;
}

h2, h3{
  color: #7EC0DE;
  text-align: center;
}

 {
  background-image: url(../images/MM_survey.jpg);
 /*   background-image: url(http://placehold.it/100x150); */
  max-height: 300px;
  max-width: 150px;
  background-repeat: no-repeat;
}

/*#D3DDE3;
} */
/*
.testdiv {
  border: red;
  border-style: solid;
  border-width: 2px;
} */



.Main {
  text-align: center;
  color: red;
}
.CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-height: 400px;
  max-width: 500px;
  float: auto;
}

.Problem_Statement, .Persona {
  border-style: solid;
  border-width: 2px;
  border-color: #7EC0DE;
  background-color: white;

}

.Persona h3{
  color: #1A237E;
}

.Interview{
  height: 300px;
}

#Interview_img{
  max-height: 300px;
}

.ShoutOutBox, .PrototypeInforomtion {
  border: #7EC0DE;
  border-style: solid;
  border-width: 4px;
}

.PrototypeInforomtion {
  margin: 100px;
  margin-top: -175px; /*////make this number half of prototype image height */
  background-color: white;
}

.space {
  height: 30px;
}


.navbar-default, .navbar-fixed-top, .navbar-fixed-top ul li a {

  width: 100%;
  font-size: .95em;
  background: #1A237E;
}

.navbar-default, .navbar-fixed-top, .navbar-fixed-top {
  border: 0 0 2px 0;
  border-color: #7EC0DE;
  border-style: solid;

}

.navbar-default .navbar-nav li a {
    color: #7EC0DE;
    font-size: .95em;
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
    font-size: 1em;
}

ul li {
  color: #1A237E; /*    */
  text-decoration: bold;
}

blockquote {
  background: #7EC0DE;
  border: 5px solid #1A237E;
  font-weight: bold;
}
/*.navbar-brand{
  font-size: .95em;
} */

.testnav {
  background-color: inherit;
  margin-top: 20px;
  margin-bottom: 30px;

}
.testnav .navbar-nav li a:hover {
  background-color: inherit;
  color: #1A237E;
}

