body {
  font-family: sans-serif;
  background: rgba(242, 243, 233, .5);
  font-size: 1.75em;

}

.MainTitle {
  margin-top: 50px;
}

h2, h3{
  color: #7EC0DE;
  text-align: center;
}

#interview {
  background-image: url(http://placehold.it/100x150);
  background-repeat: no-repeat;
}

/*#D3DDE3;
} */

.bbbb {
  border: red;
  border-style: solid;
  border-width: 2px;
}




.Main {
  text-align: center;
  color: red;
}
.CoverImage {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-height: 400px;
  max-width: 500px;
  float: auto;
}

.Problem_Statement, .Persona {
  border-style: solid;
  border-width: 2px;
  border-color: #7EC0DE;

  background: white;

}

.ShoutOutBox, .PrototypeInforomtion {
  border: #7EC0DE;
  border-style: solid;
  border-width: 4px;
  background: white;
}

.PrototypeInforomtion {
  margin: 100px;
  margin-top: -175px; /*////make this number half of prototype image height */
}

.space {
  height: 20px;
}

.navbar-default, .navbar-fixed-top, .navbar-fixed-top ul li a {
  color: #7EC0DE;
  width: 100%;
  font-size: .75em;
  background: rgba(232, 233, 233, .9);
}

.navbar-default, .navbar-fixed-top, .navbar-fixed-top {
  border: 0 0 2px 0;
  border-color: #7EC0DE;
  border-style: solid;
}

.navbar-default .navbar-nav li a {
    color: #7EC0DE;
    font-size: .75em;
}

.navbar-default, .navbar-fixed-top ul li a:active, a:hover {
  font-size: .95em;
  color: #188DAD;
}

/*.navbar-brand{
  font-size: .95em;
} */
